<!-- start banner Area -->
  <div class="Page-banner">
    <section class="banner-area relative" id="home">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
          <div class="col-lg-9 col-md-12 banner-content">
            <h1 class="text-uppercase">
              Advance Your Career With Expert SAP Training
            </h1>
            <p class="pt-10 pb-10">
              Transform your career with comprehensive. Gain in demand skils and
              industry expertise from top trainers and get certified to take on
              new challanges. Upgrade your potential and stay ahead of competition
              with our world-class SAP training programs.
            </p>
         
            <div class="course-trainer-no">
              <h3>Call The Trainer</h3>
              <div class="br-brder"></div>
              <div class="single-detail-wrapper">
                <p><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:020-71173116"> +91 8766792884</a></p>
              </div>
            </div>
            <div class="btns" (click)="showRegistration()" >
              <span class="primary-btn">Contact Us</span>
              <!-- <button class="primary-btn" (click)="openModal()">Open Modal</button> -->
            </div>
            <app-registration-modal *ngIf="showForm"></app-registration-modal>

          </div>
        </div>
      </div>
    </section>
    <div class="form-container">
      <app-registration></app-registration>
    </div>
  </div>
  
  <!-- End banner Area -->
  <!-- Start feature Area -->
  <section class="feature-area">
    <div class="container">
      <div class="row feature-container">
        <div class="col-lg-4">
          <div class="single-feature">
            <div class="title">
              <h4>Learn Online Courses</h4>
            </div>
            <div class="desc-wrap">
              <p>
                SAP online training has been designed to cover everything in
                detail and flexibility to master SAP technical skills at the
                comfort of your home.
              </p>
              <a href="#">Join Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-feature">
            <div class="title">
              <h4>Live Classes</h4>
            </div>
            <div class="desc-wrap">
              <p>
                You can register for offline Live classes if you residing in Pune,
                Maharashtra
              </p>
              <a href="#">Join Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-feature">
            <div class="title">
              <h4>Demo Classes</h4>
            </div>
            <div class="desc-wrap">
              <p>
                Here you can find recordings of our some previous classes to get
                the idea of technology. Click on below button to find demo
                classes.
              </p>
              <a href="#">Join Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End feature Area -->
  
  <section class="popular-course-area">
    <div class="title text-center">
      <h1>Popular Courses we offer</h1>
    </div>
  
    <div class="courses">
      <div class="course" *ngFor="let course of courses">
        <div class="course-title">
          <i class="fa-fw far fa-calendar-days" aria-hidden="true"></i>
          <p>{{ course.title }}</p>
        </div>
        <p class="course-desc">
          {{ course.desc }}
        </p>
        <div class="enroll-button">
          <button class="button2 inquerySide" data-title="Batch Information"
            data-paragraph="See why 61,640+ Learners trust us and how did they achieve their professional goals by Joining Croma Campus! You also get your Certificate now!"
            (click)="onEnroll()">
            Enroll Now
          </button>
        </div>
      </div>
    </div>
  </section>
  
  <div class="achievements-section">
    <h3>Program Core Credentials</h3>
    <div class="line"></div>
  
    <div class="acheivements">
      <div class="acheivement batch-box active" *ngFor="let acheivement of achievements">
        <img alt="{{ acheivement.alt }}" src="{{ acheivement.imgUrl }}" width="35" height="45" />
        <p>{{ acheivement.title }}</p>
        <h4>{{ acheivement.desc }}</h4>
      </div>
    </div>
  </div>
  
  <div class="achievements-section">
    <h3>Our Placement Process</h3>
    <div class="line"></div>
  
    <div class="acheivements">
      <div class="acheivement batch-box active" *ngFor="let carr of curriculum">
        <img alt="{{ carr.alt }}" src="{{ carr.imgUrl }}" width="35" height="45" />
        <p>{{ carr.title }}</p>
      </div>
    </div>
  </div>
