<form action="#" method="post">
  <input
    type="text"
    id="name"
    name="name"
    placeholder=" Full Name"
    required
    [(ngModel)]="fullName"
  />

  <input
    type="email"
    id="email"
    name="email"
    placeholder=" Email address"
    required
    [(ngModel)]="email"
  />

  <input
    type="tel"
    id="phone"
    name="phone"
    placeholder="Phone number"
    required
    [(ngModel)]="phone"
  />

  <select [(ngModel)]="course" name="course">
    <option value="">--Choose Course--</option>
    <option value="SAP SD">SAP SD</option>
    <option value="SAP MM">SAP MM</option>
    <option value="SAP FI">SAP FI</option>
    <option value="SAP ABAP">SAP ABAP</option>
    <option value="SAP HANA">SAP HANA</option>
  </select>
  <input type="submit" value="Register" (click)="onSubmit()" />
</form>
