<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input
      type="text"
      formControlName="fullname"
      placeholder="Full Name"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
    />
    <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
      <div>Fullname is required</div>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      formControlName="email"
      placeholder="Email address"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
    />
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
      <div>Email is required</div>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      formControlName="phone"
      placeholder="Phone number"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
    />
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
      <div>Phone is required</div>
    </div>
  </div>

  <div class="form-group">
    <select
      formControlName="course"
      placeholder="Choose course"
      class="form-control"
      name="course"
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
    >
      <option value="">--Choose Course--</option>
      <option value="SAP SD">SAP SD</option>
      <option value="SAP MM">SAP MM</option>
      <option value="SAP FI">SAP FI</option>
      <option value="SAP ABAP">SAP ABAP</option>
      <option value="SAP HANA">SAP HANA</option>
    </select>

    <div *ngIf="submitted && f['course'].errors" class="invalid-feedback">
      <div>Choose atleast one course</div>
    </div>
  </div>
  <input type="submit" value="Register" />
</form>
