.body {

    background: url('../assets/image/banner-image.jpg');
    background-size: contain;
    height: 480px;
  
}
@media (max-width:980px) {
    .body {
        height: 450px;
    }
}
@media (max-width:540px) {
    .body {
        height: 480px;
    }
}





